{% extends "blog/base.html" %}
{% block content %}
    <h1>Music Playlist Evaluator</h1>
    <h5>
        WebApp to evaluate Music Playlist Pseudo-Random Shuffling Algorithms.<br>
        Main Aim for our project is to form random Shuffling Algorithms that appears random to human.
    </h5>
    <br><br><br>
    <h1>Developer</h1>
    <h5>
        This App is developed by ,Umang Jain And Anuraj Singh, Computer Science Students of IIT (BHU) Varansi as a needed tool for their
        BTP project under Dr. Anil Kumar Singh sir And Miss Naina Mam

        

    </h5>


{% endblock content %}
