{% extends "blog/base.html" %}
{% load static %}
{% load index %}
{% load mathfilters %}

{% block content %}

<style>
dl {
    display: grid;
    grid-template-columns: 32ch auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}
</style>



    <h3 style="color:red;"> INFOMATION : <br> </h3>
    <ol type="1">
        {% for info in infos %}
            <li>{{ info }}</li>
            {% if forloop.last %}
                <ul>
                    {% for ratingMeaning in ratingMeanings %}
                        <li> {{ratingMeaning}} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </ol>
    </br>
    
    <dl>
        <h3><dt> Playlist Chosen </dt></h3>
        <dd> {{ playlistName }} </dd>

        <h3><dt> Algorithm Chosen </dt></h3>
        <dd> {{ algoName }} </d>
    {% comment %} <h3 style="color:DodgerBlue;" > Playlist Chosen  : {{ playlistName }} </h3>
    <h3 style="color:DodgerBlue;"> Algorithm Chosen : {{ algoName }} </h3> {% endcomment %}
    </dl>
    <br>

    <form action="/saveRatings" method="POST">
    {% csrf_token %}
    {% for id in songsId %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                Song Title: {{ songsName|index:forloop.counter0 }} <br>
                By: {{ songsSinger|index:forloop.counter0 }} <br>
                In: {{ songsAlbum|index:forloop.counter0 }} <br>
            </div>

            <br>

            <audio controls id="aud{{forloop.counter0}}">
                <source src={{ songsLink|index:forloop.counter0 }} type="audio/mpeg">  Your browser does not support the audio tag.
            </audio>
    
          </div>
        </article>
        
        {% with gapSize as gapSize %}
        
        

        {% if forloop.counter|divisibleby:gapSize %}
            {% with cur=forloop.counter|div:gapSize  %}
                {% with curStr=cur|stringformat:"s" %}
                    {% with "rating"|add:curStr as name %}
                    <article class="media content-section">
                        <div class="media-body">
                        <div>
                            <label  for={{ name }}>Please Rate </label><br>
                            <input type="number" id={{ name }} name={{ name }} required max=5 min =1> 
                        </div>
                        </div>
                    </article>
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        {% endif %} 

        {% endwith %}
    
    {% endfor %}

    {% comment %} <label for={{ name }}>Rate:</label><br> {% endcomment %}
    <input type="hidden" id="playlistId" name="playlistId" value={{playlistId}}><br> 
    <input type="hidden" id="algoId" name="algoId" value={{algoId}}><br> 
    <input type="hidden" id="songsName" name="songsName" value={{songsName}}><br> 
    <input type="hidden" id="songsId" name="songsId" value={{songsId}}><br> 
    <input type="hidden" id="songs" name="songs" value={{songs}}><br> 

    <input class="btn btn-outline-info" id="submitButton" type="submit" value="Submit">
    <br>
    <br>
    </form>


<script>
    var songsId = {{songsId}};
    var aud = [];
    var index;
    var timeLimit = parseInt({{timeLimit}})
    console.log(timeLimit)
    for( index=0;index<songsId.length;index++ )
    {
        var tag = "aud".concat(index);
        aud.push(document.getElementById(tag));
    }

    console.log(aud);
   
    for( index=0;index<aud.length;index++ )
    {
        console.log(aud[index]);
        aud[index].addEventListener("timeupdate", function(music) { 

            if(parseInt(music.target.currentTime)>=timeLimit)
            {
                music.target.load();
            }
            });


      aud[index].addEventListener("pause", function(music) { 
          console.log("ok")
          if(music.target.paused){
              music.target.play()
          }
            });
    }



    $('submitButton').on('click', function() {
        $(this).prop('disabled', true);
    });

</script>


{% endblock content %}      


