{% extends "blog/base.html" %}
{% load static %}
{% load index %}
{% load mathfilters %}

{% block content %}
    <h2> Summary </h2>
    </br>

    {% comment %} <form action="/saveAndShowSummary" method="POST"> {% endcomment %}
    {% comment %} {% csrf_token %} {% endcomment %}
     {% for id in songsId %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Song Title: {{ songsName|index:forloop.counter0 }}</a> <br>
                <!-- <a class="mr-2" href="#">By: {{ songsSinger|index:forloop.counter0 }}</a> <br> -->
                <!-- <a class="mr-2" href="#">In: {{ songsAlbum|index:forloop.counter0 }}</a> <br> -->
            </div>

            <br>

            <audio controls>
                <source src={{ songsLink|index:forloop.counter0 }} type="audio/mpeg"> Your browser does not support the audio tag.
            </audio>
    
          </div>
        </article>

        {% if forloop.counter|divisibleby:10 %}
            {% with cur=forloop.counter|div:10  %}
                {% with curStr=cur|stringformat:"s" %}
                    {% with "R"|add:curStr as name %}
                        <br>
                        {% if cur == 1 %}
                           <h3> You Rated : {{rating.R1}}  <h3>
                        {% elif cur == 2 %}
                           <h3> You Rated : {{rating.R2}}  <h3>
                        {% elif cur == 3 %}
                            <h3> You Rated : {{rating.R3}}  <h3>
                        {% elif cur == 4 %}
                            <h3> You Rated : {{rating.R4}}  <h3>
                        {% elif cur == 5 %}
                            <h3> You Rated : {{rating.R5}}  <h3>
                        {%endif%}
                        <br>
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        {% endif %} 
    {% endfor %}


    <div>Your average rating for the playlist {{ playlistName }} with shuffling algorithm {{ algoName }} : {{ normalAverage }}</div>

    {% comment %} <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Stats</a> <br>
            </div>

            <br>

            <h6>normalAverage :      {{    normalAverage  }}</br></br>
                WeightedAverage1:{{WeightedAverage1  }}</br></br>
                WeightedAverage2:{{WeightedAverage2  }}</br></br>
                std:{{std  }}</br></br>
                var:{{var  }}</br></br>
                DistributionScore:{{DistributionScore  }}</br></br>
                CorrelationScore:{{CorrelationScore  }}</br></br>
                totalScore:{{totalScore}}</h6></h6>
    
          </div>
    </article> {% endcomment %}



    {% comment %} <label for={{ name }}>Rate:</label><br> {% endcomment %}
    {% comment %} <input type="hidden" id="playlistId" name="playlistId" value={{playlistId}}><br>  {% endcomment %}
    {% comment %} <input type="hidden" id="algoId" name="algoId" value={{algoId}}><br>  {% endcomment %}


    {% comment %} <input type="submit" value="Submit"> {% endcomment %}
    {% comment %} </form> {% endcomment %}
{% endblock content %}             


